[mysql]
default-character-set=binary
[mysqld]
character-set-server=binary
collation-server=binary
skip-character-set-client-handshake
explicit-defaults-for-timestamp=1
general-log=1
general-log-file=/var/log/mysql/mysqld.log
secure-file-priv = ""

[client]
default-character-set=utf8mb4
